%script
  function getFile(){ document.getElementById("upfile").click(); }
#register
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {autocomplete: "off"}) do |f|
    %fieldset
      .title
        %legend Введите информацию о пользователе
      %label Имя Отчество:
      = f.text_field :fname
      %label Фамилия:
      = f.text_field :fname
      %label Электронная почта:
      = f.email_field :email
      %label Телефон:
      = f.text_field :phone
      %label Логин:
      = f.text_field :name
      %label Введите пароль:
      = f.password_field :password
      %label Повторите пароль:
      = f.password_field :password_confirmation
      = image_tag "user_photo_blank.png"
      #photoBtn{style:"height: 50px; width: 100px;border: 1px dashed #BBB; cursor:pointer;", onclick:"getFile()"} Обзор
      %div{style:'height: 0px;width:0px; overflow:hidden;'}= f.file_field :photo, id: "upfile"
    = devise_error_messages!
    = f.submit "Зарегистрироваться"