:javascript
  function getFile(){ document.getElementById("upfile").click(); }

  $(document).ready(function() { 

    $('#upfile').change(function() { 
      $('.image-name').text($(this).val()); 
    });

    $('.scrollspy-text').scrollspy();
    $('.chzn-select').chosen();
    $(".chzn-select-deselect").chosen({allow_single_deselect:true}); 
  });   
%h1
  Вы находитесь:
  %span Объявить тендер
%p.form-info= @tender.tender_type.name_ru
%h1 Пожалуйста, заполните поля
= form_for @tender, html: {multipart:true} do |form|
  %table.form-edit
    %tr  
      %td.text-label Название
      %td{colspan:2}
        .text-field= form.text_field :name
    %tr
      %td.text-label Дата запуска
      %td
        .text-field= form.text_field :start_at
      %td.text-info << Если указать дату, тендер стартанет автоматически в эту дату
    /
      %tr  
        %td.text-label Дата окончания
        %td
          .text-field= form.text_field :end_at
        %td.text-info Если указать дату, тендер остановится автоматически в эту дату
    %tr
      %td.text-label Категория    
      %td
        .text-field= form.collection_select :category_id, Category.all, :id, :name, {}, html_options = {class: 'chzn-select', :'data-placeholder' => 'выберите категорию', size: 3, style: 'width:244px;height: 19px;'}
      %td.text-info &nbsp;
    - if @tender.tender_type.is_name?(:auction) && @tender.tender_type.is_iteration == true 
      %tr  
        %td.text-label Фиксированный шаг
        %td
          .text-field= form.text_field :step
        %td.text-info &nbsp
      %tr  
        %td.text-label Количество итераций
        %td
          .text-field= form.text_field :iteration_count
        %td.text-info  << Тендер будет повторяться указанное количество раз
    - elsif !@tender.tender_type.is_name?(:auction)
      %tr  
        %td.text-label Количество итераций
        %td
          .text-field= form.text_field :iteration_count
        %td.text-info << Тендер будет повторяться указанное количество раз
    %tr
      %td.text-label Закрытый
      %td
        .check-box= form.check_box :closed
      %td.text-info << Просматривать и участвовать в тендере можно лишь по приглашению
    %tr 
      %td.text-label
        = @tender.tender_type.is_selling == true ? 'Минимальная' : 'Максимальная'
        = ' стоимость' if @tender.tender_type.is_name? :tender
        = ' стоимость' if @tender.tender_type.is_name? :auction
        = ' стоимость' if @tender.tender_type.is_name? :review
      %td
        .text-field= form.text_field :summ
      %td.text-info &nbsp
    %tr  
      %td.text-label Комментарии
      %td{colspan:2}
        .text-field= form.text_area :note
    %tr
      %td{colspan:2}
        .image-cell
          .image-input
            .image-text Приложение к тендеру
            .image-action
              .image-name
              .image-btn{onclick:"getFile()"} Обзор
              .image-btn= form.submit 'Добавить'
            .image-info
              Условия загрузки: Принимаются только форматы rar zip doc xls pdf
              %br/
              Максимальный размер файла: 10 Мб.
            .hidden-value= file_field_tag 'attach', id: "upfile"
      %td.tender_attachments
        %ul
          - @tender.tender_attachments.each do |attach|
            %li
              = attach.attach_file_name
              = link_to '[ удалить ]', [@tender, attach], method:'delete'
    %tr
      %td{colspan: 3}
        .btn-step= form.submit 'Далее'
        .btn-step= link_to 'Назад', new_tender_path(id:@tender)