:javascript
  $(document).ready(function() { 

    //$('.tenders').click(function() { 
    //  alert('sdf');
    //});

  });
%h1
  Вы находитесь:
  %span Текущие тендеры
- @tenders.each do |tender|
  .tenders
    %p.title
      %span.type-sale= tender.tender_type.is_selling == true ? 'Продажа' : 'Покупка'
      %span.start Открыт с:
      %span.start-date.white= tender.start_at != nil ? tender.start_at.strftime("%d.%m.%Y") : ''
      %span.end Активен до:
      %span.end-date.white= tender.end_at != nil ? tender.end_at.strftime("%d.%m.%Y") : ''
      %span.info.white= tender.tender_type.is_iteration == true ? "Этап: #{tender.tender_iterations.size}" : ''
      %span &nbsp;
      = build_span_tender_name(tender)
    %p.main-info
      %span.name.bold Название:
      %span.name-content.bold= link_to tender.name, tender
    %p.info
      %span.important.bold= tender.tender_type.is_selling == true ? 'Минимальная стоимость' : 'Максимальная стоимость'
      %span.important-content.bold= number_to_currency(tender.summ, :precision=>2, :delimiter=>' ', :separator => ",", :unit=>'руб.', :format=>"%n %u") || '-'
    %p.info
      %span.person.bold Тендер проводит:
      %span.person-content.bold= tender.user
    .assign
      = link_to 'Участвовать', new_tender_propose_path(tender)
      .parts  
        %span Заявок подано:
        %span.count 0