:javascript
  $(document).ready(function() { 
    var tenderCheck = false;
    $('.check-type').click(function() {
      tenderCheck = true;
      var id = $(this).attr('id').substring(5);
      
      $('#tender_tender_type_id option').each(function() {
        $(this).attr('selected', false);
      });

      $('.check-type h4').each(function() {
        $(this).removeClass('checked');
        $(this).addClass('unchecked');
      });
      
      $('.check-type#type_'+id+' h4').each(function() {
        $(this).addClass('checked');
      });      

      $('#tender_tender_type_id option[value='+id+']').attr("selected", "selected");      
    });
    $('.btn-step input[type="submit"]').click(function() {
        if (tenderCheck == false)
        {
          alert('Необходимо указать тип тендера!');
          return false;
        }
    });
  });
%h1
  Вы находитесь:
  %span Объявить тендер
%p.form-info Пожалуйста, выберите нужный тип:
= form_for @tender do |form|
  = form.hidden_field :id if @tender.id
  = form.hidden_field :user_id
  %table.form-edit
    - @tender_types.each do |tender_type|
      - if tender_type.is_iteration == false
        %tr
          %td
            .check-type{id: "type_#{tender_type.id}"}
              %h4{class: "#{@tender.tender_type && @tender.tender_type.near?(tender_type) ? 'checked' : 'unchecked'}"}= tender_type.name_ru
              %p= tender_type.info
    %tr
      %td
        .btn-step= form.submit 'далее'
    %tr
      %td
        .hidden-value= form.collection_select :tender_type_id, @tender_types, :id, :name, {} #, html_options = { :user_id, 
        %br/