:javascript
  function getFile(){ document.getElementById("upfile").click(); }

  $(document).ready(function() { 

    $('#upfile').change(function() { 
      $('.file-name span').text($(this).val()); 
    });
    $('.chzn-select').chosen();

  });
%h1
  Вы находитесь:
  %span Личный кабинет
= render partial: 'layouts/navtabs'
.tab-content
  .tab-content-menu
    = link_to(image_tag('person.png'), profile_homes_path, class: 'active white')
    = link_to(image_tag('company.png'), company_path)
  .tab-content-panel.white
    = form_for @user, html: {autocomplete: "off"} do |f|
      %div{style:'height: 0px;width:0px; overflow:hidden;'}= f.file_field :photo, id: "upfile"
      %table.person
        %tr
          %td.label-text Имя Отчество:
          %td.input-text= f.text_field :nname
          %td.space-center{rowspan: 9} &nbsp;
          %td.photo-text{rowspan: 9}
            = image_tag(@user.photo? == true ? @user.photo(:thumb) : "user_photo_blank.png")
            %br/
            МОЙ АВАТАР
          %td.more-text{colspan: 2} Изменить аватар
          %td.space-clear{rowspan: 10} &nbsp;
        %tr
          %td.label-text Фамилия:
          %td.input-text= f.text_field :fname
          %td.file-name
            %span &nbsp;
          %td.file-btn{onclick:"getFile()"} Обзор
        %tr
          %td.label-text Электронная почта:
          %td.input-text= f.email_field :email
          %td.help-text{colspan: 2}
            Условия загрузки: Размер 100х100 пикселей, jpg, jpeg, png.
            %br/
            Максимальный размер файла: 100 Кб.
        %tr
          %td.label-text Телефон:
          %td.input-text= f.text_field :phone
          %td{rowspan: 6, colspan: 2}= link_to 'Удалить аватар', photo_delete_user_path(@user), id: 'del-photo-btn'
        %tr
          %td.label-text Название компании:
          %td.input-text= text_field_tag 'company', @user.company.try(:name) || '', readonly: true         
        %tr
          %td.label-text Интересы:
          %td.input-text= f.collection_select :category_ids, Category.all, :id, :name, {}, {multiple: true, class: 'chzn-select', :'data-placeholder' => 'выберите интересы', size: 3, style: 'width:202px;height: 21px;'}
        %tr
          %td.label-text Введите пароль:
          %td.input-text= f.password_field :password
        %tr
          %td.label-text Повторите пароль:
          %td.input-text= f.password_field :password_confirmation
        %tr
          %td.save-info{colspan:6}= f.submit 'Сохранить изменения'