%h1
  Вы находитесь:
  %span Личный кабинет
%ul#tabs
  %li= link_to 'ЛИЧНЫЕ ДАННЫЕ', profile_homes_path
  %li= link_to 'МОИ ТЕНДЕРЫ', my_tenders_homes_path
  %li.active= link_to 'УЧАСТИЕ', parts_homes_path
.tab-content
  .tab-content-menu
    = link_to(image_tag('parts_actual_btn.png'), parts_homes_path, class: 'active')
    = link_to(image_tag('parts_notactual_btn.png'), parts_homes_path)
  .tab-content-panel
    = link_to 'Проведенные тендеры', '#', id: 'actual-tender'    
    .my_tenders
      %p.title
        %span.start Открыт с:
        %span.start-date.white.bold 21.06.2012
        %span.end Активен до:
        %span.end-date.white.bold 14.09.2013
        %span.info.white Заявок подано:
        %span.info-content.white.bold 45
        %span.type-tn.blue-bg Тендер
      %p.main-info
        %span.name.bold Название:
        %span.name-content.bold= link_to 'Микрохирургия глаза в Воронеже. 10.10.2011. Здоровье', tender_homes_path
      %p.info
        %span.important.bold Максимальная стоимость:
        %span.important-content.bold 158 000 руб.
      .edit
        = link_to 'Редактировать', '#'
    .my_tenders
      %p.title
        %span.start Открыт с:
        %span.start-date.white.bold 21.06.2012
        %span.end Активен до:
        %span.end-date.white.bold 14.09.2013
        %span.info.white Ставок сделано:
        %span.info-content.white.bold 45
        %span.type-tn.green-bg Аукцион
      %p.main-info
        %span.name.bold Название:
        %span.name-content.bold= link_to 'Микрохирургия глаза в Воронеже. 10.10.2011. Здоровье', tender_homes_path
      %p.info
        %span.important.bold Максимальная стоимость:
        %span.important-content.bold 158 000 руб.
      .edit
        = link_to 'Редактировать', '#'
    .my_tenders
      %p.title
        %span.start Открыт с:
        %span.start-date.white.bold 21.06.2012
        %span.end Активен до:
        %span.end-date.white.bold 14.09.2013
        %span.info.white Предложений принято:
        %span.info-content.white.bold 45
        %span.type-tn.red-bg Предварительного сбора предложений
      %p.main-info
        %span.name.bold Название:
        %span.name-content.bold= link_to 'Микрохирургия глаза в Воронеже. 10.10.2011. Здоровье', tender_homes_path
      %p.info
        %span.important.bold Максимальная стоимость:
        %span.important-content.bold 158 000 руб.
      .edit
        = link_to 'Редактировать', '#'
    %ul#pagination
      %li <<
      %li 1
      %li 2
      %li 3
      %li ...
      %li 4
      %li >>