#navtabs.clearfix
  %ul
    %li= link_to 'ЛИЧНЫЕ ДАННЫЕ', profile_path, class: "#{controller_name == 'users' || controller_name == 'companies' ? 'active' : ''}"
    %li= link_to 'МОИ ТЕНДЕРЫ', self_active_tenders_path, class: "#{controller_name == 'tenders' ? 'active' : ''}"
    %li= link_to 'УЧАСТИЕ', parts_homes_path, class: "#{controller_name == 'homes' ? 'active' : ''}"