!!!
%html
  %head
    %meta{:'http-equiv'=>"Content-Type", content:"text/html; charset=utf-8"}
    %title MGTender
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "tenders" if controller_name == 'tenders' || controller_name == 'tender_steps'
    = javascript_include_tag "application"
    = javascript_include_tag "chosen/chosen.jquery.js"
    = stylesheet_link_tag "chosen/chosen.css"
    = csrf_meta_tags
  %body
    #main
      #header-left
        #header-right
          #header
            = link_to( image_tag("logo.png"), root_path,  id: "logo")
            - if current_user
              .login.sign
                = link_to(image_tag('logout_btn.png'), logout_path, class: 'sign')
                %span{class: 'sign user_name'}= current_user.fname              
            - else
              = link_to("РЕГИСТРАЦИЯ", signup_path, class: "sign")
              = form_tag(sessions_path, autocomplete: "off") do
                = submit_tag "Вход", class: "sign", tabindex: 3
                = password_field_tag :password, '', placeholder: "Пароль", class: "sign", tabindex: 2
                = email_field_tag :email, '', placeholder: "Логин", class: "sign", tabindex: 1
      #menu-left
        #menu-right
          #menu
            #menu-list
              %ul
                %li
                  = link_to "Объявить тендер", new_tender_path, id: "new_tender"
                %li
                  = link_to "Текущие тендеры", tenders_homes_path, id: "new_tender"
                %li
                  = link_to "Личный кабинет", profile_path, id: "new_tender"
                %li
                  = link_to "О компании", about_homes_path, id: "new_tender"
      #content-left
        #content-right
          #content
            #content_body
              - flash.each do |name, msg|
                %h1.notice= content_tag :div, msg, :id => "flash_#{name}"
              = yield
      #footer-left
        #footer-right
          #footer
          -#  #text
          -#    #footer-menu
          -#      %ul
          -#        %li= link_to '<<', "#"
          -#        - 1.upto(5) do |n|
          -#          %li= link_to n.to_s, "#"
          -#        %li ...
          -#        %li= link_to '87', "#"
          -#        %li= link_to '>>', "#"