<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MGTender</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>
<div id="header-left">
<div id="header-right">
<div id="header">
<a href="#" id="logo"><%= image_tag "logo.png" %></a>
<a href="#" class="sign">РЕГИСТРАЦИЯ</a>
<input type="submit" value="Вход" class="sign" />
<input type="password" placeholder="Пароль" class="sign" />
<input type="text" placeholder="Логин" class="sign" />
</div>
</div>
</div>
<div id="menu-left">
<div id="menu-right">
<div id="menu">
<div id="menu-list">
<ul>
<li>
<a href="#" id="new_tender">Объявить тендер</a>
</li>
<li>
<a href="#" id="tenders">Текущие тендеры</a>
</li>
<li>
<a href="#" id="user">Личный кабинет</a>
</li>
<li>
<a href="#" id="about">О компании</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div id="content-left">
<div id="content-right">
<div id="content">
</div>
</div>
</div>
<div id="footer-left">
<div id="footer-right">
<div id="footer">
<div id="text">
<div id="footer-menu">
<ul>
<li>
<a href="#"><<</a>
</li>
<%- 1.upto(5) do |n| %>
<li><a href="#"><%= n.to_s %></a></li>
<% end %>
<li>...</li>
<li><a href="#">87</a></li>
<li>
<a href="#">>></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
